/* Browser Reset */
* {
  box-sizing: border-box;
}

/* Base element styles */
body {
  font-family: "Varela Round", sans-serif;
  line-height: 1.6;
  color: #252424;
}

header,
.intro {
  background: #f7f7f7;
}

p {
  font-size: 0.95em;
  margin-bottom: 1.8em;
}

h2,
h3 {
  margin-top: 0.8em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; /* whatever the parent container is the image will take up the whole width of the parent*/
}

figure {
  margin: 0;
  line-height: 0;
  /* position: relative; */
}

/* =======================
   Base Layout Styles 
======================== */

/* Navigation  */
.name {
  font-size: 1.5em;
  margin: 0;
}

nav {
  margin-top: 0.25em;
}

.name a,
nav a {
  text-align: center;
  display: block; /* makes the link target the width of the parent */
  padding: 0.5em 1em; /* makes the space for the link target larger */
}

nav a {
  font-size: 0.95em;
  text-transform: uppercase;
}

nav a:hover {
  color: #093a58;
}
/* Layout Containers */

.intro {
  padding-bottom: 2em;
}

.my-pic {
  text-align: center;
  padding: 3.2em 3.2em 0 3.2em;
}

.blurb {
  padding: 0 1em;
  text-align: center;
}

/* Page Elements */
.portfolio-container {
  /* width: 90%; */
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
  padding: 1em;
}
.synopsis {
  margin-top: 0;
}

/* Contact Info */
.contact-container {
  background: #f7f7f7;
  padding: 3em 1em 1em 1em;
  text-align: center;
}
.contact-container h2 {
  text-transform: uppercase;
}

.line-container {
  margin: 0 1em 0 1em;
  border-bottom: 0.125em solid #d8d8d8;
}

/* Footer */
footer p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
}

footer {
  padding: 2em 1em;
  background: #f7f7f7;
  font-weight: bold;
}

.mobile {
  visibility: visible;
  display: flex;
  justify-content: space-between;
}

.not-mobile {
  visibility: hidden;
}

/* Media Queries */

@media (min-width: 48em) {
  header .name {
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  .intro img {
    grid-area: picture;
    padding: 0 1.5em 0 0;
    margin: 0 0 4em 0;
  }

  .intro p {
    grid-area: description;
    padding: 1.5em 0 0 1.5em;
    text-align: left;
    font-size: 1em;
  }

  .intro {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas: "description picture";
    grid-column-gap: 1em;
    padding-top: 3.2em;
  }
}

@media (min-width: 64em) {
  .welcome,
  .directions {
    flex-basis: 30%;
  }

  .directions {
    padding-left: 1em;
  }

  .food {
    flex-basis: 40%;
  }
}
